# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Output directories
dym_estimate/dfm_result/

# Data files (Consider alternatives for large/sensitive data)
# data/* 
# data/经济数据库.xlsx
data/~$*.xlsx

# IDE / Editor directories
.vscode/
.idea/

# Other temp files
*.log
*.tmp
*.swp 